<div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">
  <div class="py-2 p-md-3">
    <!-- Title + Delete link-->
    <div
      class="
        d-sm-flex
        align-items-center
        justify-content-between
        pb-4
        text-center text-sm-start
      "
    >
      <h2 class="h2 mb-2 text-nowrap">Informations de profil</h2>
      <a class="btn btn-link text-danger fw-medium btn-sm mb-2"
        ><i class="ai-trash-2 fs-base me-2"></i>Supprimer le compte
      </a>
    </div>
    <!-- Content-->
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3 pb-1">
          <label class="form-label px-0" for="account-fn">Prénom</label>
          <input
            class="form-control"
            type="text"
            id="account-fn"
            value="Amanda"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3 pb-1">
          <label class="form-label px-0" for="account-ln">Nom de famille</label>
          <input
            class="form-control"
            type="text"
            id="account-ln"
            value="Wilson"
          />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3 pb-1">
          <label class="form-label px-0" for="account-email">Courriel</label>
          <input
            class="form-control"
            type="text"
            id="account-email"
            value="a.wilson@example.com"
          />
        </div>
      </div>

      <div class="col-12">
        <hr class="mt-2 mb-4" />
        <div
          class="d-flex flex-wrap justify-content-between align-items-center"
        >
          <!-- <div class="form-check d-block">
            <input
              class="form-check-input"
              type="checkbox"
              id="show-email"
              checked
            />
            <label class="form-check-label" for="show-email"
              >M'inscrire à l'infolettre</label
            >
          </div> -->
          <button class="btn btn-primary mt-3 mt-sm-0" type="button">
            <i class="ai-save fs-lg me-2"></i>Enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
