<div class="d-flex flex-column bg-light rounded-3 shadow-lg p-4">
  <div class="py-2 p-md-3">
    <!-- Title + Delete link-->
    <div class="
        d-sm-flex
        align-items-center
        justify-content-between
        pb-4
        text-center text-sm-start
      ">
      <h2 class="h2 mb-2 text-nowrap">Informations de profil</h2>
    </div>
    <!-- Content-->
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3 pb-1">
          <label class="form-label px-0" for="account-fn">Prénom</label>
          <input class="form-control" type="text" id="account-fn" [(ngModel)]="firstName" (value)="firstName"
            required />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3 pb-1">
          <label class="form-label px-0" for="account-ln">Nom de famille</label>
          <input class="form-control" type="text" id="account-ln" [(ngModel)]="lastName" (value)="lastName" required />
        </div>
      </div>
      <div class="col">
        <div class="mb-3 pb-1">
          <label class="form-label px-0" for="account-email">Courriel</label>
          <input class="form-control" type="text" id="account-email" [(ngModel)]="email" (value)="email" required />
        </div>
      </div>
      <hr class="mt-2 mb-4" />
    </div>
    <div *ngIf="isAccountUpdated" class="alert alert-success d-flex my-3 my-sm-4">
      <i class="ai-circle-info fs-xl me-2"></i>
      <p class="mb-0">
        Compte mis à jour avec succès !
      </p>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end pt-3">
          <button class="btn btn-secondary" type="button" (click)="undoAccountChange()">Annuler</button>
          <button class="btn btn-primary ms-3" type="button" (click)="updateAccount()"
            [disabled]="!email || !firstName || !lastName">
            <!--TODO Maybe also disable the buttons when there was no change?  -->
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="
    card
    border-0
    py-1
    p-md-2 p-xl-3 p-xxl-4
    mb-4
    rounded-3
    shadow-lg
    p-4
    tw-mt-8
  ">
  <div class="card-body">
    <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
      <i class="ai-lock-closed text-primary lead pe-1 me-2"></i>
      <h2 class="h4 mb-0">Changement de mot de passe</h2>
    </div>
    <div class="row align-items-center g-3 g-sm-4 pb-3">
      <div class="col-sm-6">
        <label class="form-label" for="current-pass">Mot de passe actuel</label>
        <div class="password-toggle">
          <input class="form-control" type="password" placeholder="***********" id="current-pass"
            [(ngModel)]="currentPassword" [value]="currentPassword" required />
          <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox" /><span class="password-toggle-indicator"></span>
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <a class="d-inline-block fs-sm fw-semibold text-decoration-none mt-sm-4"
          href="account-password-recovery.html">Mot de passe oublié?</a>
      </div>
      <div class="col-sm-6">
        <label class="form-label" for="new-pass">Nouveau mot de passe</label>
        <div class="password-toggle">
          <input class="form-control" type="password" id="new-pass" [(ngModel)]="newPassword" [value]="newPassword" />
          <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox" required /><span
              class="password-toggle-indicator"></span>
          </label>
        </div>
      </div>
      <div class="col-sm-6">
        <label class="form-label" for="confirm-pass">Confirmation du nouveau mot de passe</label>
        <div class="password-toggle">
          <input class="form-control" type="password" id="confirm-pass" [(ngModel)]="confirmationPassword"
            (value)="confirmationPassword" required />
          <label class="password-toggle-btn" aria-label="Show/hide password">
            <input class="password-toggle-check" type="checkbox" /><span class="password-toggle-indicator"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="alert alert-info d-flex my-3 my-sm-4">
      <i class="ai-circle-info fs-xl me-2"></i>
      <p class="mb-0">
        Le mot de passe doit comporter au minimum 8 caractères (avec au minimum
        une lettre et un chiffre) - plus il est long, mieux c'est.
      </p>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger d-flex my-3 my-sm-4">
      <i class="ai-circle-info fs-xl me-2"></i>
      <p class="mb-0">
        {{errorMessage}}
      </p>
    </div>
    <div class="d-flex justify-content-end pt-3">
      <button class="btn btn-secondary" type="button" (click)="undoPasswordChange()">Annuler</button>
      <button class="btn btn-primary ms-3" type="button"
        [disabled]="!currentPassword || !newPassword || !confirmationPassword"
        (click)="updatePassword()">Enregistrer</button>
    </div>
  </div>
</section>

<section class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4 shadow-lg p-4 tw-mt-8">
  <div class="card-body">
    <div class="d-flex align-items-center pb-4 mt-sm-n1 mb-0 mb-lg-1 mb-xl-3">
      <h2 class="h4 mb-0">Supprimer le compte</h2>
    </div>
    <div class="alert alert-warning d-flex mb-4">
      <i class="ai-triangle-alert fs-xl me-2"></i>
      <p class="mb-0">
        Lorsque vous supprimez votre compte, votre profil public sera
        immédiatement désactivé. Si vous changez d'avis avant la fin des 14
        jours, connectez-vous avec votre adresse e-mail et votre mot de passe,
        et nous vous enverrons un lien pour réactiver votre compte. <a href="#" class="alert-link">En savoir plus</a>
      </p>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="confirm" (click)="toggleDelete()" [checked]="!isDisabled" />
      <label class="form-check-label text-dark fw-medium" for="confirm">Oui, je veux supprimer mon compte</label>
    </div>
    <div class="
        d-flex
        flex-column flex-sm-row
        justify-content-end
        pt-4
        mt-sm-2 mt-md-3
      ">
      <button class="btn btn-danger" type="button" (click)="deleteAccount()" [disabled]="isDisabled?'null':''">
        <i class="ai-trash ms-n1 me-2"></i>Supprimer le compte
      </button>
    </div>
  </div>
</section>