{% extends 'base.html' %}
{% set active_page = "analysis-sections" %}

{% block title %} Nouveau comportement {% endblock %}

{% set schemaTypes = ['jauge'] %}

{% block content %}
<div class="w-full h-full p-5">
  <h1 class="my-6 text-2xl font-semibold flex text-gray-900 items-start dark:text-white">
    <a href="/admin/analysis/themes/{{theme.id}}">
      <svg class="w-6 h-6 mr-2 mt-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 6L9 12L15 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
    Ajouter un comportement au thème "{{ theme.name }}"
  </h1>
  <form id="mainForm" class="bg-white dark:bg-gray-800 p-5 sm:rounded-lg shadow-md">

    <div class="relative z-0 w-full mb-6 group">
      <select name="question_id" id="question_id"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 rounded-none bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
        {% for question in questions %}
        <option value="{{question.question_id}}">{{question.question_id}} (Intensité: {{question.intensity if
          question.intensity != None else 0}}{% if question.conditional_intensity %}, {% endif
          %}{{question.conditional_intensity if question.conditional_intensity else ''}}) - {{question.title}}
        </option>
        {% endfor %}
      </select>
      <label for="question_id"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Question
        *</label>
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <input type="text" name="ranges" id="ranges"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder="" required />
      <label for="ranges"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Échelles
        *</label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input name="weight" id="weight"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder="" value="1" required />
      <label for="weight"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Poids
        répondu
        *</label>
    </div>
    <div class="relative z-0 w-full mb-6 group">
      <label class="relative inline-flex items-center mb-4 cursor-pointer">
        <input name="is_active" type="checkbox" value="active" class="sr-only peer" checked>
        <div
          class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
        </div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Actif</span>
      </label>
    </div>

    <div class="">
      <p id="error" class="my-2 text-sm text-red-600 dark:text-red-500"></p>
    </div>

    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
      <button onclick="history.back()"
        class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Annuler</button>
      <button type="submit"
        class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-auto hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Enregistrer</button>
    </div>
  </form>
</div>
<script>
  $("#mainForm").submit(async function (event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('mainForm'));
    const response = await fetch(`/admin/analysis/behaviors/add/{{theme.id}}`, { body: formData, method: "post" });
    if (response.ok) {
      window.location = '/admin/analysis/themes/{{theme.id}}';
    }
    else {
      error = await response.text();
      $("#error").html(error).show();
    }
  });
</script>
{% endblock %}