{% extends 'base.html' %}
{% set active_page = "analysis-sections" %}

{% block title %} Baromètre #{{ barometer.id }} {% endblock %}

{% block content %}
<div class="relative overflow-x-auto w-full p-5">
  <h1 class="text-2xl mt-6 font-semibold flex text-gray-900 items-start dark:text-white">
    <a href="/admin/analysis/sections/{{barometer.section_id}}">
      <svg class="w-6 h-6 mr-2 mt-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 6L9 12L15 18" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
    Baromètre (#{{barometer.id }}) - {{ barometer.title }}
  </h1>
  <div class="flex justify-between items-center my-6">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
      Thèmes
    </h1>
    <div class="flex justify-center items-center " data-tooltip-target="tooltip-default">
      <a href="/admin/analysis/themes/add/{{barometer.id}}"
        class="pb-1 h-10 w-10 bg-gray-100 rounded-full text-green-600 flex justify-center border-2 border-green-600 items-center hover:bg-green-600 hover:text-white text-2xl">+
      </a>

      <div id="tooltip-default" role="tooltip"
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Ajouter un item
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>
  <table
    class="dark:divide-gray-700 divide-y text-sm text-left text-gray-500 dark:text-gray-400 shadow-md w-full max-w-full sm:rounded-lg bg-white dark:bg-gray-800">
    <thead class="text-xs">
      <tr>
        <th scope="col" class="hidden sm:table-cell px-5 py-3 w-[40px]">
          ID
        </th>
        <th scope="col" class="px-5 py-3">
          Nom
        </th>
        <th scope="col" class="px-5 py-3 w-[130px] text-center">
          Comportements
        </th>
        <th scope="col" class="px-5 py-3 w-[90px] text-center">
          Statut
        </th>
        <th scope="col" class="px-5 py-3 w-[100px] text-center">
          Actions
        </th>
      </tr>
    </thead>
    <tbody class="dark:divide-gray-700 divide-y">
      {% for theme in themes %}
      <tr class="hover:bg-gray-50 dark:hover:bg-gray-600"
        onclick="window.location='/admin/analysis/themes/{{ theme.id }}';">
        <td class="px-5 py-4 hidden sm:table-cell">
          {{ theme.id }}
        </td>

        <td scope="row" class="pl-5 py-4  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">{{ theme.name }}</p>
          </div>
        </td>
        <td class="px-5 py-4">
          <div class="flex items-center justify-center space-x-4 text-sm">
            <p>{{ theme.behaviors_count }}</p>
          </div>
        </td>
        <td class="px-5 py-4 text-center">
          <span
            class="px-2 py-1 text-xs font-semibold leading-tight rounded-lg {{ 'bg-green-700' if theme.is_active else 'bg-orange-600' }} text-white">
            {{ 'Actif' if theme.is_active else 'Inactif' }}
          </span>
        </td>
        <td class="px-5 py-4">
          <div class="flex items-center justify-center space-x-4 text-sm">
            <button onclick="onEditThemeClick(event, '{{ theme.id}}');"
              class="flex items-center justify-between text-sm font-medium leading-5 text-primary-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
              aria-label="Edit">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                </path>
              </svg>
            </button>
            <button onclick="setSelectedId(event,'{{ 'analysis/themes/delete/' + theme.id }}')"
              class="flex items-center justify-between text-sm font-medium leading-5 text-primary-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
              aria-label="Delete">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="flex justify-between items-center my-6">
    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
      Éléments
    </h1>
    <div class="flex justify-center items-center " data-tooltip-target="tooltip-default">
      <a href="/admin/analysis/items/add/{{barometer.id}}"
        class="pb-1 h-10 w-10 bg-gray-100 rounded-full text-green-600 flex justify-center border-2 border-green-600 items-center hover:bg-green-600 hover:text-white text-2xl">+
      </a>

      <div id="tooltip-default" role="tooltip"
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Ajouter un item
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>
  <table
    class="dark:divide-gray-700 divide-y text-sm text-left text-gray-500 dark:text-gray-400 shadow-md w-full max-w-full sm:rounded-lg bg-white dark:bg-gray-800">
    <thead class="text-xs">
      <tr>
        <th scope="col" class="hidden sm:table-cell px-5 py-3 w-[40px]">
          ID
        </th>
        <th scope="col" class="px-5 py-3">
          Référence
        </th>

        <th scope="col" class="px-5 py-3">
          Type
        </th>

        <th scope="col" class="px-5 py-3 hidden md:table-cell">
          Contenu
        </th>

        <th scope="col" class="hidden md:table-cell px-5 py-3 w-[90px] text-center">
          Minimum
        </th>

        <th scope="col" class="hidden md:table-cell px-5 py-3 w-[90px] text-center">
          Maximum
        </th>

        <th scope="col" class="px-5 py-3 w-[100px] text-center">
          Actions
        </th>

      </tr>
    </thead>
    <tbody class="dark:divide-gray-700 divide-y">
      {% for item in items %}
      <tr class="hover:bg-gray-50 dark:hover:bg-gray-600"
        onclick="window.location='/admin/analysis/items/update/{{ item.id }}';">
        <td class="px-5 py-4 hidden sm:table-cell">
          {{ item.id }}
        </td>
        {% if item.behavior_id != None %}
        <td scope="row" class="pl-5 py-4  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">Comp. {{ item.behavior_id }}</p>
          </div>
        </td>
        {% elif item.theme_id != None %}
        <td scope="row" class="pl-5 py-4  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">Thème {{ item.theme_id }}</p>
          </div>
        </td>
        {% else %}
        <td scope="row" class="pl-5 py-4  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">Baromètre</p>
          </div>
        </td>
        {% endif %}
        <td scope="row" class="pl-5 py-4  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">{{ item.type }}</p>
          </div>
        </td>
        <td scope="row" class="pl-5 py-4 hidden md:table-cell  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">{{ item.content }}</p>
          </div>
        </td>
        <td scope="row" class="py-4 hidden md:table-cell  text-gray-900 dark:text-white text-center">
          <div>
            <p class="break-words">{{ item.min }}</p>
          </div>
        </td>
        <td scope="row" class="py-4 hidden md:table-cell  text-gray-900 dark:text-white text-center">
          <div>
            <p class="break-words">{{ item.max }}</p>
          </div>
        </td>


        <td class="px-5 py-4">
          <div class="flex items-center justify-center space-x-4 text-sm">
            <button onclick="onEditItemClick(event, '{{ item.id}}');"
              class="flex items-center justify-between text-sm font-medium leading-5 text-primary-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
              aria-label="Edit">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                </path>
              </svg>
            </button>
            <button onclick="setSelectedId(event,'{{ 'analysis/items/delete/' + item.id }}')"
              class="flex items-center justify-between text-sm font-medium leading-5 text-primary-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
              aria-label="Delete">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% set label='cet élément' %}
{% set endpoint='/admin/' %}
{% include 'modal.html'%}

<script>
  function onEditThemeClick(event, id) {
    event.stopPropagation();
    window.location = '/admin/analysis/themes/update/' + id;
  }
  function onEditItemClick(event, id) {
    event.stopPropagation();
    window.location = '/admin/analysis/items/update/' + id;
  }
</script>
{% endblock %}