<div class="d-flex flex-column h-100 bg-light rounded-3 shadow-lg p-4">
  <div class="py-2 p-md-3">
    <!-- Title + Delete link-->
    <div class="d-sm-flex align-items-center justify-content-between text-center text-sm-start">
      <h2 class="h2 mb-2 text-nowrap">Factures</h2>
    </div>

    <div class="card border-0 py-1 p-md-2 p-xl-3 p-xxl-4">
      <div class="card-body pb-4">
        <!-- Orders accordion-->
        <div class="accordion accordion-alt accordion-orders" id="orders">
          <!-- Order-->
          <div *ngFor="let invoice of invoices$ | async" class="accordion-item border-top mb-3">
            <div class="accordion-header">
              <a class="accordion-button after:tw-mb-0 tw-cursor-pointer tw-flex-col tw-items-start tw-gap-2 d-flex fs-4 fw-normal text-decoration-none py-3"
                (click)="toggleAccordion(invoice.invoice_id)"
                [ngClass]="{'collapsed': !isAccordionOpen[invoice.invoice_id]}" aria-expanded="false"
                [attr.aria-controls]="'inv-' + invoice.invoice_id">
                <div class="fs-sm tw-font-semibold">{{invoice.description}}</div>
                <div class="d-flex justify-content-between tw-w-full tw-gap-2">
                  <div class="tw-w-1/6">
                    <div class="fs-sm text-muted">#{{invoice.invoice_id}}</div>
                    <span [ngClass]="{'tw-bg-red-500': formatStatusColor(invoice.status) === 'red',
                  'tw-bg-green-500': formatStatusColor(invoice.status) === 'green',
                  'tw-bg-yellow-500': formatStatusColor(invoice.status) === 'yellow',
                  'tw-bg-orange-500': formatStatusColor(invoice.status) === 'orange',
                                    'tw-bg-blue-500': formatStatusColor(invoice.status) === 'blue',
                  'text-info': true,
                  'fs-xs': true,
                  'badge': true}">{{formatStatus(invoice.status)}}</span>
                  </div>
                  <div class="tw-w-1/3">
                    <div class="d-none d-sm-block fs-sm text-muted mb-2">Acheté le</div>
                    <div class="d-sm-none fs-sm text-muted mb-2">Date</div>
                    <div class="fs-sm fw-medium text-dark">{{formatDate(invoice.date_created)}}</div>
                  </div>
                  <div class="tw-w-1/3">
                    <div class="d-none d-sm-block fs-sm text-muted mb-2">Expire le</div>
                    <div class="d-sm-none fs-sm text-muted mb-2">Date</div>
                    <div class="fs-sm fw-medium text-dark">{{formatDate(invoice.date_expiration)}}</div>
                  </div>
                  <div class="tw-w-1/6">
                    <div class="fs-sm text-muted mb-2">Total</div>
                    <div class="fs-sm fw-medium text-dark">{{formatPrice(invoice.amount_total)}}</div>
                  </div>
                </div>

              </a>
              <button *ngIf="invoice.status == 'unpaid' || invoice.status == 'failed'"
                class="btn tw-bg-green-500 tw-ml-6 tw-mb-6 tw-text-white tw-rounded-md tw-py-2"
                (click)="redirectToStripeCheckout(invoice.session_id)">Payer
                maintenant</button>
              <div id="inv-{{invoice.invoice_id}}" class="accordion-collapse"
                [ngClass]="{'collapse': !isAccordionOpen[invoice.invoice_id]}">
                <div class="accordion-body">
                  <!-- display all invoices details in table -->
                  <p>
                    <span class="tw-font-bold">Description:</span> {{invoice.description}}
                  </p>

                  <p>
                    <span class="tw-font-bold">Transaction date:</span> {{invoice.date_created}}
                  </p>
                  <p>
                    <span class="tw-font-bold">Subscription end date:</span> {{invoice.date_expiration}}
                  </p>
                  <p>
                    <span class="tw-font-bold">Discount:</span> {{formatPrice(invoice.amount_discount)}}
                  </p>
                  <p>
                    <span class="tw-font-bold">Subtotal:</span> {{formatPrice(invoice.amount_subtotal)}}
                  </p>
                  <p>
                    <span class="tw-font-bold">Tax:</span> {{formatPrice(invoice.amount_tax)}}
                  </p>
                  <p>
                    <span class="tw-font-bold">Total:</span> {{formatPrice(invoice.amount_total)}}
                  </p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>