<div class="container tw-mt-24">
  <div class="row">
    <div class="col">
      <form [formGroup]="labelsForm">
        <div formGroupName="labels">
          <ng-container *ngIf="labels$ | async as labels">
            <div
              [formArrayName]="i"
              *ngFor="let label of getLabels(); let i = index"
            >
              <div class="tw-flex" [id]="label.value.name">
                <h2>{{ label.value.name }}</h2>
              </div>

              <div formGroupName="values">
                <div
                  [formArrayName]="j"
                  *ngFor="let label of getValues(i); let j = index"
                >
                  <p>
                    <mat-form-field appearance="outline">
                      <input
                        formControlName="label"
                        matInput
                        [value]="label.value.label"
                      />
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                      <input
                        formControlName="value"
                        matInput
                        [value]="label.value.value"
                      />
                    </mat-form-field>
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </form>
    </div>
  </div>
</div>
<div
  class="
    tw-z-50
    tw-mt-16
    tw-flex
    tw-justify-end
    tw-fixed
    tw-bottom-12
    tw-right-12
    tw-w-full
  "
>
  <button
    [matMenuTriggerFor]="menu"
    (click)="$event.preventDefault()"
    mat-fab
    color="primary"
    aria-label="More options"
  >
    <mat-icon>more_horiz</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>save</mat-icon>
      <span>Enregistrer</span>
    </button>
  </mat-menu>
</div>
