<!-- Sign in view-->
<div class="view show p-5 card" id="signin-view">
  <div class="">
    <h2>Inscrivez-vous!</h2>
    <p class="mt-3">Cela prendra moins d'une minute!</p>
    <form
      (ngSubmit)="signup()"
      #signupForm="ngForm"
      class="row needs-validation"
      novalidate=""
    >
      <div class="col-sm-6 mb-3">
        <label class="form-label tw-pl-0" for="reg-fn"
          >Prénom<sup class="text-danger ms-1">*</sup></label
        >
        <input
          [(ngModel)]="firstName"
          name="first name"
          class="form-control"
          type="text"
          required=""
          id="reg-fn"
        />
        <div class="invalid-feedback">Please enter you first name!</div>
      </div>
      <div class="col-sm-6 mb-3">
        <label class="form-label tw-pl-0" for="reg-ln"
          >Nom de famille<sup class="text-danger ms-1">*</sup></label
        >
        <input
          [(ngModel)]="lastName"
          name="last name"
          class="form-control"
          type="text"
          required=""
          id="reg-ln"
        />
        <div class="invalid-feedback">Please enter you last name!</div>
      </div>
      <div class="col-sm-6 mb-3">
        <label class="form-label tw-pl-0" for="reg-email"
          >Courriel<sup class="text-danger ms-1">*</sup></label
        >
        <input
          [(ngModel)]="email"
          name="email"
          class="form-control"
          type="email"
          required=""
          id="reg-email"
        />
        <div class="invalid-feedback">Please enter a valid email address!</div>
      </div>
      <div class="col-sm-6 mb-3">
        <label class="form-label tw-pl-0" for="reg-phone">Téléphone</label>
        <input
          [(ngModel)]="phoneNumber"
          name="phone number"
          class="form-control bg-image-0"
          type="text"
          id="reg-phone"
        />
      </div>
      <div class="col-12mb-3">
        <label class="form-label tw-pl-0" for="reg-password"
          >Mot de passe<sup class="text-danger ms-1">*</sup></label
        >
        <input
          [(ngModel)]="password"
          name="password"
          class="form-control"
          type="password"
          required=""
          id="reg-password"
        />
        <div class="invalid-feedback">Please provide password!</div>
      </div>

      <div class="col-12 mt-5">
        <button
          [disabled]="!signupForm.form.valid"
          class="btn btn-primary d-block w-100"
        >
          S'inscrire
        </button>
      </div>
    </form>
  </div>
</div>

<div class="border-top text-center mt-4 pt-2">
  <p class="pt-3 mb-0 text-center">
    Vous avez déjà un compte?
    <a
      routerLink="/auth-wall"
      data-view="#signup-view"
      class="fw-medium tw-text-primary"
      >Connectez-vous</a
    >
  </p>
</div>
