<mat-toolbar *ngIf="getIsAuth()">
  <img width="200" src="/assets/img/logo.png" alt="" srcset="" />
  <span style="flex: 1 1 auto" class="example-spacer"></span>
  <button
    routerLink="/admin/admin-panel"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    matTooltip="Voir les questionnaires"
  >
    <mat-icon>quiz</mat-icon>
  </button>

  <button
    routerLink="/admin/admin-survey-choices"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    matTooltip="Voir les échelles de fréquences"
  >
    <mat-icon>analytics</mat-icon>
  </button>

  <!-- <button
    routerLink="/admin/admin-survey-choices"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="Voir les échelles de choix"
  >
    <mat-icon>settings</mat-icon>
  </button> -->

  <!-- <button
    routerLink="/admin/admin-survey-answers"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="Voir les réponses démo"
  >
    <mat-icon>fact_check</mat-icon>
  </button> -->

  <button
    routerLink="/admin/admin-glossary"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    matTooltip="Glossaire"
  >
    <mat-icon>info</mat-icon>
  </button>

  <button
    matTooltip="Réinitialiser toutes les données"
    (click)="openDialog()"
    mat-icon-button
  >
    <mat-icon>restart_alt</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
