<app-page-header title="Questionnaires"></app-page-header>

<section class="bg-light">
  <div class="container pt-4 pt-5 pt-md-2 pt-md-7 pb-0">
    <h2 class="text-center mb-3">Lorem</h2>
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7">
        <p class="text-center mb-0">
          Find aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </p>
      </div>
    </div>
  </div>

  <!-- Portfolio grid-->

  <div class="container overflow-hidden py-5 py-md-6 py-lg-7">
    <div class="masonry-grid" data-columns="2">
      <div
        *ngFor="let questionnaire of questionnaires$ | async"
        class="masonry-grid-item tw-border-2 tw-border-red-600"
        data-groups='["web"]'
      >
        <a
          class="card card-hover border-0 shadow tw-border-2 tw-border-red-600"
          routerLink="/dashboard/questionnaire/{{ questionnaire.survey_id }}"
        >
          <!-- <img
            class="card-img-top tw-h-[500px] tw-w-[600px] tw-object-cover"
            src="{{ questionnaire.cover_picture_url }}"
            alt="Portfolio thumb"
          /> -->

          <div
            [style.backgroundColor]="questionnaire.color"
            class="card-img-top tw-h-[500px] tw-w-[600px] tw-object-cover"
          ></div>

          <div class="card-body text-center">
            <h3 class="h5 nav-heading mb-2">{{ questionnaire.name }}</h3>
            <p class="text-muted mb-2">{{ questionnaire.description }}</p>
            <!-- <p>{{ questionnaire.percentCompleted }}</p> -->
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
