<!-- Sign in view-->
<div class="view show p-0 p-md-5 card" id="signin-view">
  <h2>Connexion</h2>

  <p class="mt-3 mb-4">
    Veuillez entrer votre adresse courriel et votre mot de passe afin de vous
    connecter.
  </p>
  <form
    (ngSubmit)="login()"
    #loginForm="ngForm"
    class="needs-validation w-full"
  >
    <div class="input-group mb-3 w-full">
      <i
        class="ai-mail position-absolute top-50 start-0 translate-middle-y ms-3"
      ></i>
      <input
        class="form-control rounded tw-w-full"
        type="email"
        placeholder="Email"
        required
        [(ngModel)]="email"
        name="email"
      />
    </div>
    <div class="input-group mb-3">
      <i
        class="
          ai-lock
          position-absolute
          tw-top-[45%]
          start-0
          translate-middle-y
          ms-3
        "
      ></i>
      <div class="password-toggle w-100 w-full">
        <input
          class="form-control mb-2 w-full"
          type="password"
          placeholder="Password"
          required
          [(ngModel)]="password"
          name="password"
        />
        <label class="password-toggle-btn" aria-label="Show/hide password">
          <input class="password-toggle-check" type="checkbox" /><span
            class="password-toggle-indicator"
          ></span>
        </label>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3 pb-1">
      <div class="form-check">
        <input
          #conditions
          class="form-check-input"
          type="checkbox"
          id="keep-signed-2"
        />
        <label class="form-check-label"
          >J'accepte les
          <span
            class="fw-medium tw-text-primary tw-cursor-pointer"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            >termes et les conditions d'utlisations stipulées ci-dessous.</span
          ></label
        >
      </div>
    </div>
    <button
      class="btn btn-primary d-block w-100 mt-3 mb-2"
      type="submit"
      [disabled]="!loginForm.form.valid"
    >
      SE CONNECTER
    </button>
    <p class="pt-3 mb-0 text-center">
      Mot de passe oublié?
      <a
        routerLink="/auth-wall/forgot-password"
        class="fw-medium tw-text-primary"
        data-view="#signup-view"
        >Cliquez ici.</a
      >
    </p>
  </form>
</div>

<div class="border-top text-center mt-4 pt-2">
  <p class="pt-3 mb-0 text-center">
    Vous n'avez pas encore de compte?
    <a
      routerLink="/auth-wall/signup"
      class="fw-medium tw-text-primary"
      data-view="#signup-view"
      >Inscrivez-vous</a
    >
  </p>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Avis légal</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col">
          <h2>Avis légal et politique de confidentialité</h2>
          <p>
            Cette application web (ci-après dénommée "l'application") a été
            développée à des fins d’analyse personnelle, d’introspections et de
            recherche uniquement.
          </p>

          <h3>Conditions d'utilisation :</h3>
          <ul>
            <li>
              En utilisant l'application, vous acceptez les termes et conditions
              suivants. Si vous n'acceptez pas ces termes et conditions,
              veuillez ne pas utiliser l'application.
            </li>
            <li>
              L'application analyse les réponses aux questionnaires fournis par
              l'utilisateur pour déterminer la dynamique et la constellation
              familiale de l'utilisateur.
            </li>
            <li>
              L'utilisateur est seul responsable de la véracité et de
              l'exactitude des réponses fournies à l'application. L'application
              ne peut être tenue responsable des erreurs ou des inexactitudes
              dans les résultats causés par des réponses, incomplètes, erronées
              ou trompeuses de l'utilisateur.
            </li>
            <li>
              Les résultats de l'application ne doivent pas être considérés
              comme étant scientifiquement exacts.
            </li>
            <li>
              Les résultats de l'application n’ont pas de valeurs juridiques.
            </li>
            <li>
              L'application ne recueille aucune information personnelle sur
              l'utilisateur, sauf les réponses aux questionnaires.
            </li>
            <li>
              L'utilisateur accepte de ne pas utiliser l'application à des fins
              illégales ou nuisibles.
            </li>
            <li>
              Les termes et conditions de cette application peuvent être
              modifiés à tout moment et sans préavis. Il est de la
              responsabilité de l'utilisateur de consulter régulièrement les
              termes et conditions pour s'assurer de respecter les dernières
              versions.
            </li>
            <li>
              En utilisant cette application, vous acceptez de ne pas utiliser
              les résultats obtenus pour nuire à autrui ou pour prendre des
              décisions qui pourraient causer des préjudices à autrui.
            </li>
            <li>
              En utilisant cette application, vous acceptez les termes et
              conditions ci-dessus.
            </li>
          </ul>

          <h3>Avis de non-responsabilité et de propriété intellectuelle</h3>
          <p>
            Les résultats de l'application ne doivent pas être utilisés à des
            fins médicales, juridiques ou professionnelles. Elle ne peut en
            aucun cas remplacer un avis médical ou juridique professionnel ou
            servir à poser un diagnostic.
          </p>

          <h3>Général</h3>
          <p>
            Les présentes conditions d'utilisation constituent le contrat entre
            eConstellations Inc. et l'utilisateur de l’application.
          </p>
          <p>
            Aux fins des présentes, les termes « application », « eC », «
            eConstellations », « eConstellations.com », « site » et « service(s)
            » désignent notre application eConstellations et notre site internet
            eConstellationsons.com et/ou notre site web optimisé pour les
            appareils mobiles et/ou leur propriétaire. Les termes « utilisateur
            », « membre(s) », « usager » et « vous » désignent toute personne
            qui utilise nos services en tant que membre ou en tant que visiteur
            sur notre site. Le terme « conditions d'utilisation » désigne le
            présent document et la politique de confidentialité, qui font partie
            intégrante des présentes.
          </p>
          <p>
            L'accès, l'utilisation et l'inscription au site sont conditionnels
            et subordonnés à la consultation, l'acceptation préalable et au
            respect intégral des conditions d'utilisations.
          </p>
          <p>
            Lors d'une annulation d'inscription, eConstellations se réserve le
            droit d’effacer les données de l'utilisateur sauvegardées sur les
            serveurs de eConstellations, auquel cas elles ne pourront être
            récupérées ultérieurement.
          </p>

          <h3>Contenu de eConstellations</h3>
          <p>
            Le contenu et les services de eConstellations sont protégés par les
            lois en matière de droits d'auteur, marques de commerce, brevet, et
            autres lois. eConstellations détient et conserve tous les droits sur
            le contenu et les services de eConstellations.com.
          </p>
          <p>
            Il est interdit de modifier, adapter, traduire, vendre, accorder en
            sous-licence, décomposer ou désassembler tout ou partie de notre
            service ou de n'importe quel logiciel employé sur ou pour notre
            service.
          </p>
          <p>
            Il est interdit d'utiliser des métadonnées, codes, scripts ou autres
            éléments faisant référence à notre service, dans le but de diriger
            notre trafic Internet vers un autre site.
          </p>

          <h3>Contenu de tiers</h3>
          <p>
            Notre service peut contenir des hyperliens vers d'autres sites ou
            ressources Internet. Nous ne contrôlons pas ces sites Internet.
            L'utilisateur eConstellations reconnaît et accepte le fait que nous
            ne saurions être tenus responsables de la légalité, l'exactitude ou
            la nature des contenus, publicités, produits, services ou
            informations placés sur ces sites Internet ou de tout dommage
            pouvant être subis par l’utilisateur, incluant notamment, mais non
            limitativement des virus informatiques, découlant de l’accès
            volontaire ou non à ces sites Internet par l’utilisateur.
          </p>
          <p>
            eConstellations se réserve le droit de modifier le prix de ses
            services sans préavis.
          </p>
          <p>
            Aucun remboursement ne sera émis par eConstellations en cas
            d’annulation d’abonnement avant terme par un utilisateur, et ce,
            pour quelque raison que ce soit.
          </p>
          <h3>Facturation et règlement</h3>
          <p>
            eConstellations utilise les informations financières fournies par
            l'utilisateur pour facturer ses produits et services. En
            s'inscrivant aux inscriptions ou aux fonctionnalités payantes et en
            communiquant les informations financières nécessaires au paiement
            des services, l'utilisateur accepte que eConstellations facture à
            l'avance ses services payants. Il incombe à l'utilisateur de faire
            parvenir à eConstellations des informations exactes et complètes
            concernant ses informations financières et de mettre à jour les
            informations liées à son compte en temps voulu. Les abonnements
            payants ne peuvent être transférés à un autre utilisateur. En
            souscrivant à un abonnement payant, l'utilisateur autorise
            eConstellations à facturer immédiatement le compte bancaire et/ou la
            carte de crédit fournie par celui-ci. L'utilisateur autorise
            également eConstellations à facturer toutes les taxes de vente ou
            similaires qui peuvent être imposables relativement aux paiements de
            son abonnement selon les lois du Canada et de la province de Québec.
            (ajouter notions taxtes selon le pays)
          </p>
          <h3>Renouvellement automatique</h3>
          <p>
            L'utilisateur consent à ce que son abonnement soit renouvelé
            automatiquement à l'échéance du terme initial pour des périodes
            supplémentaires successives de même durée que le terme initial, au
            prix accepté par le membre lors de son inscription initiale, plus
            les taxes applicables. L'utilisateur consent à ce que son compte
            soit débité lors de ce renouvellement automatique.
          </p>
          <p>
            Il incombe à l'utilisateur d'aviser eConstellations avant la date du
            renouvellement anticipé si celui-ci ne souhaite pas que son
            abonnement soit renouvelé automatiquement.
          </p>

          <h3>Résiliation du service pour non-paiement</h3>
          <p>
            Dans l’éventualité où eConstellations n'était pas en mesure de
            prélever le paiement sur la base des informations bancaires fournies
            par l’utilisateur pour quelconque raison que ce soit,
            eConstellations pourra, à sa seule discrétion, interrompre la
            prestation du service, de façon temporaire ou permanente.
          </p>

          <h3>Limitation de responsabilité et exclusion de garantie</h3>
          <p>
            L'utilisateur reconnaît et accepte par les présentes que
            eConstellations et ses sociétés affiliées ainsi que leurs
            dirigeants, administrateurs, employés, agents et fournisseurs de
            contenu ou leurs concessionnaires de licences ne sont responsables
            en aucune circonstance, envers lui ou une tierce partie en cas de
            pertes de quelque nature que ce soit, découlant directement ou
            indirectement des services offerts par eConstellations, que le
            préjudice soit connu à ce jour ou non. Les services de
            eConstellations sont fournis tels quels, sans déclaration ni
            garantie exprès ou tacite, autres que les garanties dont la loi
            interdit l'exclusion.
          </p>
          <p>
            Sans limiter la généralité de ce qui précède, eConstellations ne
            peut en aucun cas être tenu responsable de l'interruption ou de la
            suspension du service, quelles qu'en soient les raisons. Des pannes
            occasionnelles, des irrégularités causées par une mise à jour ou des
            attaques de pirates informatiques sont des événements fortuits
            indépendants de la volonté de eConstellations. eConstellations ne
            garantit aucunement un accès continu, ininterrompu ou sécuritaire à
            ses services. Le fonctionnement de eConstellations peut être entravé
            par de nombreux facteurs qui échappent à son contrôle.
          </p>
          <p>
            Sans limiter la généralité de ce qui précède, eConstellations ne
            peut en aucun cas être tenu responsable de quelques dommages que ce
            soit, directs, indirects, généraux, spéciaux, compensatoires,
            accessoires, fortuits, résultants de ou relatifs à la conduite de
            l'utilisateur ou celle d'autrui en liaison avec l'utilisation du
            site, eConstellations compris, sans s'y limiter, les préjudices
            corporels, troubles émotionnels et tout autre dommage éventuel
            résultant des communications ou rencontres avec d'autres membres
            inscrits au service ou avec des personnes que l'utilisateur aurait
            rencontrées par le biais du site.
          </p>
          <p>
            À tout événement, dans l’éventualité où la responsabilité de
            eConstellations devait être reconnue par tout Tribunal ou Cour de
            justice, l’utilisateur convient et reconnait que la responsabilité
            de eConstellations sera limitée au remboursement du prix payé pour
            son abonnement, le cas échéant, l’utilisateur renonçant par les
            présentes à réclamer tout excédent auquel il pourrait autrement
            avoir droit.
          </p>
          <h3>Indemnisation</h3>
          <p>
            L'utilisateur convient d'indemniser et de tenir à couvert
            eConstellationsde toute responsabilité (pénale, criminelle ou
            civile), réclamation ou revendication résultant de l'utilisation des
            services offerts par eConstellations et/ou de la contravention aux
            dispositions des présentes conditions d'utilisation, eConstellations
            compris les frais et honoraires d’avocats encourus dans un tel cas.
          </p>

          <h3>Communication</h3>
          <p>
            eConstellations peut, de temps à autre, transmettre des informations
            supplémentaires par le biais de l'adresse courriel associée à un
            utilisateur lors de son inscription sur le site eConstellations.com.
            Ces correspondances sont réputées reçues et lues à la date à
            laquelle elles sont transmises. L'utilisateur a donc l'entière
            responsabilité de la validité de l'adresse courriel associée à son
            inscription à eConstellations et de gérer son courrier indésirable
            pour s'assurer de lire ces correspondances. L’utilisateur consent,
            par les présentes, à recevoir de telles communications de la part de
            eConstellations.com
          </p>
          <h3>Généralités</h3>
          <p>
            Les présentes conditions d'utilisation, incluant la politique de
            confidentialité, constituent l'intégralité de l'entente entre
            l'utilisateur et eConstellations concernant l'utilisation du site et
            annule et remplace toute autre entente antérieure.
          </p>

          <h3>Modifications aux services ou aux conditions d'utilisation</h3>
          <p>
            eConstellations peut modifier les présentes conditions d'utilisation
            à tout moment sans préavis. Les modifications entrent en vigueur dès
            leur publication sur le site. L'utilisation continue des services
            par un utilisateur après la publication de modifications sera
            interprétée comme une acceptation de la part de celui-ci.
            L'utilisateur s'engage à examiner régulièrement les présentes
            conditions d'utilisation sur le site afin d'être au courant des
            modifications apportées.
          </p>
          <p>
            eConstellations peut modifier, suspendre ou interrompre tout aspect
            du service à tout moment, eConstellations compris la disponibilité
            de toute fonctionnalité du service ou son contenu. eConstellations
            peut également imposer des limites à certaines fonctionnalités ou
            certains aspects du service ou limiter l'accès d'un utilisateur à
            tout ou certaines parties du service sans préavis ni responsabilité
            et pour quelque raison que ce soit.
          </p>

          <h3>Introduction</h3>
          <p>
            Devant le développement des nouveaux outils de communication, il est
            nécessaire de porter une attention particulière à la protection de
            la vie privée. C'est pourquoi, nous nous engageons à respecter la
            confidentialité des renseignements personnels que nous collectons.
          </p>
          <p>Collections des renseignements personnels</p>
          <p>Nous collectons notamment les renseignements suivants :</p>

          <ul>
            <li>Nom</li>
            <li>Prénom</li>
            <li>Code postal</li>
            <li>Adresse de courriel</li>
            <li>Numéro de carte de crédit</li>
            <li>Genre / Sexe</li>
          </ul>

          <p>
            Les renseignements personnels que nous collectons sont recueillis au
            travers de formulaires et grâce à l'interactivité établie entre vous
            et notre site Web. Nous utilisons également, comme indiqué dans la
            section suivante, des fichiers témoins et/ou journaux pour réunir
            des informations vous concernant.
          </p>

          <h2>Formulaires et interactivité:</h2>
          <p>
            Vos renseignements personnels sont collectés par le biais de
            formulaires, à savoir :
          </p>
          <ul>
            <li>Formulaire d'inscription au site Web</li>
            <li>Formulaire d'inscription à l’application</li>
            <li>Questionnaires</li>
          </ul>
          <p>
            Nous utilisons les renseignements ainsi collectés notamment pour les
            fins suivantes :
          </p>
          <ul>
            <li>Informations / Offres promotionnelles</li>
            <li>Statistiques</li>
            <li>Contact</li>
            <li>Gestion du site Web (présentation, organisation)</li>
          </ul>
          <p>
            Vos renseignements sont également collectés par le biais de
            l'interactivité pouvant s'établir entre vous et notre site Web et
            ce, de la façon suivante:
          </p>
          <ul>
            <li>Statistiques</li>
            <li>Contact</li>
            <li>Gestion du site Web (présentation, organisation)</li>
          </ul>
          <p>
            Nous utilisons les renseignements ainsi collectés pour les finalités
            suivantes :
          </p>
          <ul>
            <li>Correspondance</li>
            <li>Informations ou pour des offres promotionnelles</li>
          </ul>
          <p>(à valider / confirmer avec Carbonia)</p>

          <h2>Fichiers journaux et témoins</h2>
          <p>
            Nous recueillons certaines informations par le biais de fichiers
            journaux (log file) et de fichiers témoins (cookies). Il s'agit
            principalement des informations suivantes :
          </p>
          <ul>
            <li>Adresse IP</li>
            <li>Système d'exploitation</li>
            <li>Pages visitées et requêtes</li>
            <li>Heure et jour de connexion</li>
          </ul>
          <p>(à valider / confirmer avec Carbonia)</p>
          <p>Le recours à de tels fichiers nous permet :</p>
          <ul>
            <li>Amélioration du service et accueil personnalisé</li>
            <li>Profil personnalisé de consommation</li>
            <li>Suivi de commande</li>
            <li>Statistique</li>
          </ul>
          <p>(à valider / confirmer avec Carbonia)</p>

          <h3>Sécurité</h3>

          <p>
            Les renseignements personnels que nous collectons sont conservés
            dans un environnement sécurisé. Les personnes travaillant pour nous
            sont tenues de respecter la confidentialité de vos informations.
          </p>
          <p>
            Pour assurer la sécurité de vos renseignements personnels, nous
            avons recours aux mesures suivantes :
          </p>
          <ul>
            <li>Protocole SSL (SeConstellationsure Sockets Layer)</li>
            <li>
              Protocole SET (SeConstellationsure EleConstellationstronic
              Transaction)
            </li>
            <li>Gestion des accès - personne autorisée</li>
            <li>Gestion des accès - personne concernée</li>
            <li>Logiciel de surveillance du réseau</li>
            <li>Sauvegarde informatique</li>
            <li>Identifiant / mot de passe</li>
            <li>Pare-feu (Firewalls)</li>
          </ul>
          <p>
            Nous nous engageons à maintenir un haut degré de confidentialité en
            intégrant les dernières innovations technologiques permettant
            d'assurer la confidentialité de vos transactions. Toutefois, comme
            aucun mécanisme n'offre une sécurité maximale, une part de risque
            est toujours présente lorsque l'on utilise Internet pour transmettre
            des renseignements personnels.
          </p>

          <h3>Modification à la politique</h3>
          <p>
            Nous pouvons modifier la présente Politique à tout moment sans
            préavis. Les modifications entrent en vigueur dès leur publication
            sur le site. L’utilisation continue des services par un utilisateur
            après la publication de modifications sera interprétée comme une
            acceptation de la part de celui-ci. L’utilisateur s’engage à
            examiner régulièrement la présente Politique sur le site afin d'être
            au courant des modifications apportées.
          </p>
          <p>Modification et suppression des informations personnelles</p>
          <ul>
            <li>
              Vous avez accès à vos informations en tout temps. Il est également
              possible de modifier toutes vos informations et même de désactiver
              votre compte.
            </li>
            <li>
              Il est possible de modifier toutes informations relatives à votre
              compte et ce en tout temps.
            </li>
            <li>
              Il est également possible de supprimer toutes vos informations
              relatives à votre compte.
            </li>
            <li>
              À votre demande, nous pouvons supprimer toutes informations (votre
              compte) du site. Alors, toutes informations vous concernant,
              seront supprimées du site. Vous pouvez nous contacter et envoyer
              votre demande de suppression à l'adresse suivante
              <a href="mailto:info@econstellations.com"
                >info@econstellations.com
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fermer
        </button>
        <button
          data-bs-dismiss="modal"
          (click)="conditions.checked = true"
          type="button"
          class="btn btn-primary"
        >
          Accepter
        </button>
      </div>
    </div>
  </div>
</div>
