<form #questionForm="ngForm" (ngSubmit)="submit()">
  <section class="bg-light">
    <div class="container pt-3 pt-md-2 pt-md-5 pb-0">
      <div class="tw-flex">
        <div class="tw-w-1/12 tw-relative">
          <app-progress-bar [progress]="getProgress()"></app-progress-bar>
        </div>

        <div class="tw-w-11/12">
          <app-questions-list
            [questions]="getQuestions()"
            (infoBubbleToggler)="onInfoBubbleOpen($event)"
            (answerPicker)="onAnswer($event)"
            (questionSkipper)="onSkip($event)"
            (confirmToggler)="onToggleConfirm($event)"
          ></app-questions-list>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="tw-flex tw-justify-end">
            <button
              *ngIf="isDone()"
              class="btn btn-primary d-block tw-w-32"
              type="submit"
            >
              Terminer
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    style="display: none !important"
    class="
      tw-z-50
      tw-mt-16
      tw-flex
      tw-justify-end
      tw-fixed
      tw-bottom-12
      tw-right-12
      tw-w-full
    "
  >
    <button
      [matMenuTriggerFor]="menu"
      (click)="$event.preventDefault()"
      mat-fab
      color="primary"
      aria-label="More options"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button
        [disabled]="getProgress() === '0%'"
        (click)="submit()"
        mat-menu-item
      >
        <mat-icon>save</mat-icon>
        <span>Enregistrer</span>
      </button>

      <button
        [disabled]="getProgress() === '0%'"
        (click)="onReset()"
        mat-menu-item
      >
        <mat-icon>restart_alt</mat-icon>
        <span>Recommencer</span>
      </button>

      <button mat-menu-item (click)="questionnaireEnd.emit()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Revenir plus tard</span>
      </button>
      <button mat-menu-item [disabled]="!isDone()" (click)="submit()">
        <mat-icon>done</mat-icon>
        <span>Terminer</span>
      </button>
    </mat-menu>
  </div>
</form>
