<div>
  <h1 class="tw-text-white" mat-dialog-title>{{ data.title }}</h1>
  <div class="tw-text-white" mat-dialog-content>{{ data.description }}</div>
  <div mat-dialog-actions class="tw-mt-4">
    <button
      data-testid="dialog-cancel-button"
      class="btn btn-light"
      mat-dialog-close="No"
    >
      No
    </button>
    <button
      data-testid="dialog-confirm-button"
      class="btn btn-primary tw-ml-4"
      mat-dialog-close="Ok"
      cdkFocusInitial
    >
      Ok
    </button>
  </div>
</div>
