<mat-card>
  <clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading">
    <clr-dg-column [style.width.px]="96" [clrDgField]="'name'"
      >Identifiant unique</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'intro'">Phrase introductive</clr-dg-column>
    <clr-dg-column [clrDgField]="'creation'"
      >Question | Sous-question</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'pokemon'">Condition</clr-dg-column>
    <clr-dg-column [style.width.px]="96" [clrDgField]="'Intensité de base'"
      >Intensité de base</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'Intensité de base'"
      >Intensité conditionnelle</clr-dg-column
    >
    <clr-dg-column [style.width.px]="96" [clrDgField]="'color'"
      >Échelle de fréquence</clr-dg-column
    >
    <clr-dg-column [clrDgField]="'color'">Échelle CEV</clr-dg-column>
    <clr-dg-column [clrDgField]="'color'">Catégorie</clr-dg-column>

    <clr-dg-row *ngFor="let question of questions">
      <clr-dg-action-overflow>
        <button
          (click)="handleEditQuestion(question.question_id)"
          class="action-item"
        >
          Modifier
        </button>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{ question.question_id }}</clr-dg-cell>
      <clr-dg-cell>{{ question.intro }}</clr-dg-cell>
      <clr-dg-cell>
        {{ question.title }}
      </clr-dg-cell>
      <clr-dg-cell>{{ question.condition }}</clr-dg-cell>
      <clr-dg-cell>{{ question.intensity }}</clr-dg-cell>

      <clr-dg-cell>{{ question.conditional_intensity }}</clr-dg-cell>

      <clr-dg-cell>
        <span
          class="tw-cursor-pointer"
          *ngIf="question.label_id"
          routerLink="/admin/admin-survey-choices"
          [fragment]="question.label_id"
        >
          {{ question.label_id }}
        </span>

        <!-- <span *ngIf="!question.label_id"> custom </span> -->
      </clr-dg-cell>
      <clr-dg-cell>
        <div class="tw-flex">
          <div
            class="tw-p-1 tw-h-full"
            style="border: 1px solid rgb(214, 214, 214)"
          >
            {{ question.ladderC === null ? "N/A" : question.ladderC + "%" }}
          </div>

          <div
            class="tw-p-1 tw-h-full"
            style="border: 1px solid rgb(214, 214, 214)"
          >
            {{ question.ladderE === null ? "N/A" : question.ladderE + "%" }}
          </div>

          <div
            class="tw-p-1 tw-h-full"
            style="border: 1px solid rgb(214, 214, 214)"
          >
            {{ question.ladderV === null ? "N/A" : question.ladderV + "%" }}
          </div>
        </div>
      </clr-dg-cell>
      <clr-dg-cell>{{ question.category }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination></clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</mat-card>
