<app-page-header title="Tests"></app-page-header>

<section class="bg-light">
  <div class="container mt-0 pt-5 mt-md-0 pt-md-7 pb-2">
    <h2 class="text-center mb-3">Lorem</h2>
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-xl-6 col-lg-7">
        <p class="text-center mb-0">
          Find aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="tw-m-8">
  <div>
    <h2>Notifications</h2>
    <div>
      <button (click)="testNotification('test', 'success')">
        test notification success
      </button>
    </div>
    <div>
      <button (click)="testNotification('test', 'danger')">
        test notification error
      </button>
    </div>
    <div>
      <button (click)="testNotification('test', 'warning')">
        test notification warning
      </button>
    </div>
    <div>
      <button (click)="testNotification('test', 'info')">
        test notification info
      </button>
    </div>
  </div>
</section>
<section class="tw-m-8">
  <div>
    <h2>Client error</h2>
    <div>
      <button (click)="getTeapot()">Teapot</button>
    </div>
    <div>
      <button (click)="getNotAuth()">Get not auth</button>
    </div>
  </div>
</section>

<section class="tw-m-8">
  <div>
    <h2>Reset database</h2>
    <div>
      <button (click)="kaboom()">boom</button>
    </div>
  </div>
</section>
