<!-- Sign in view-->
<div class="back-button">
  <a routerLink="/auth-wall" class="btn btn-secondary p-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
    >
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z" />
    </svg>
  </a>
</div>
<div class="view show p-5 card" id="signin-view">
  <h2 class="h2 pb-3">Entrez votre nouveau mot de passe?</h2>
  <div class="tw-bg-[#aadbfc26] rounded-3 px-3 py-4 p-sm-4">
    <form
      class="p-2"
      (ngSubmit)="onChangePasswordSubmit()"
      [formGroup]="changePasswordForm"
    >
      <div class="input-group mb-3">
        <i
          class="
            ai-lock
            position-absolute
            tw-top-[45%]
            start-0
            translate-middle-y
            ms-3
          "
        ></i>
        <div class="password-toggle w-100 w-full">
          <input
            formControlName="password1"
            class="form-control mb-2 w-full"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Entrez votre nouveau mot de passe"
            name="password1"
            id="change-password1"
            tabindex="1"
          />
          <label class="password-toggle-btn" aria-label="Show/hide password">
            <input
              class="password-toggle-check"
              type="checkbox"
              [checked]="showPassword"
              (change)="onPasswordToggleChange($event)"
            /><span class="password-toggle-indicator"></span>
          </label>
        </div>
      </div>
      <div
        class="invalid-feedback mt-0 mb-2"
        [ngClass]="{
          'd-block':
            changePasswordForm.controls['password1'].invalid &&
            (changePasswordForm.controls['password1'].dirty ||
              changePasswordForm.controls['password1'].touched),
          'd-none': changePasswordForm.controls['password1'].valid
        }"
      >
        Veuillez svp entrer un mot de passe valide!
      </div>
      <div class="input-group mb-3">
        <i
          class="
            ai-lock
            position-absolute
            tw-top-[45%]
            start-0
            translate-middle-y
            ms-3
          "
        ></i>
        <div class="password-toggle w-100 w-full">
          <input
            formControlName="password2"
            class="form-control mb-2 w-full"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Entrez votre nouveau mot de passe"
            name="password2"
            id="change-password2"
            tabindex="2"
          />
          <label class="password-toggle-btn" aria-label="Show/hide password">
            <input
              class="password-toggle-check"
              type="checkbox"
              [checked]="showPassword"
              (change)="onPasswordToggleChange($event)"
            /><span class="password-toggle-indicator"></span>
          </label>
        </div>
      </div>
      <div
        class="invalid-feedback mt-0 mb-2"
        [ngClass]="{
          'd-block':
            changePasswordForm.controls['password2'].invalid &&
            (changePasswordForm.controls['password2'].dirty ||
              changePasswordForm.controls['password2'].touched),
          'd-none': changePasswordForm.controls['password2'].valid
        }"
      >
        Veuillez svp entrer un mot de passe valide!
      </div>
      <div
        class="invalid-feedback"
        [ngClass]="{
          'd-block':
            changePasswordForm.hasError('passwordMismatch') &&
            (changePasswordForm.controls['password2'].dirty ||
              changePasswordForm.controls['password2'].touched),
          'd-none': !changePasswordForm.hasError('passwordMismatch')
        }"
      >
        Les mots de passe ne correspondent pas.
      </div>
      <div class="tw-flex tw-justify-center">
        <button class="btn btn-primary mt-3" type="submit" tabindex="3">
          Changer votre mot de passe
        </button>
      </div>
    </form>
  </div>
</div>

<div class="border-top text-center mt-4 pt-2">
  <p class="pt-3 mb-0 text-center">
    Vous avez déjà un compte?
    <a
      routerLink="/auth-wall"
      data-view="#signup-view"
      class="fw-medium tw-text-primary"
      >Connectez-vous</a
    >
  </p>
  <p class="pt-3 mb-0 text-center">
    Vous n'avez pas encore de compte?
    <a
      href="https://e-demo2.netlify.app/ebarometre#forfaits"
      class="fw-medium tw-text-primary cursor-pointer"
      target="_blank"
      >Inscrivez-vous</a
    >
  </p>
</div>
