<!DOCTYPE html>
<html lang="en">

<!-- TODO host online image somewhere, currently using a random placeholder image -->

<body>
    <section
        style="padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 2rem; padding-bottom: 2rem; margin-left: auto; margin-right: auto; background-color: white; color: #1F2937;">
        <header>
            <img style="width: auto; height: 100px;"
                src="http://cdn.mcauto-images-production.sendgrid.net/ba77d6e774e16413/40355624-8883-4b71-874d-44db0d5aa292/1707x1725.png"
                title="logo" alt="logo" />
        </header>
        <main style="margin-top: 2rem;">
            <h2 style="color: #374151;">Mot de passe réinitialisé</h2>

            <p style="margin-top: 0.5rem; margin-bottom: 1rem; line-height: 1.5rem; color: #4B5563;">
                Votre mot de passe pour e-Constellations a été réinitialisé avec succès.
            </p>

            <p style="margin-top: 2rem; margin-bottom: 0; line-height: 1.5rem; color: #4B5563;">
                Cordialement, <br>
                L'équipe de e-Constellations
            </p>
        </main>
    </section>

</body>