<!DOCTYPE html>
<html lang="en">

<!-- TODO host online image somewhere -->

<body>
    <section
        style="padding-left: 1.5rem; padding-right: 1.5rem; padding-top: 2rem; padding-bottom: 2rem; margin-left: auto; margin-right: auto; background-color: white; color: #1F2937;">
        <header>
            <img style="width: auto; height: 75px;"
                src="http://cdn.mcauto-images-production.sendgrid.net/ba77d6e774e16413/40355624-8883-4b71-874d-44db0d5aa292/1707x1725.png"
                title="logo" alt="logo" />
        </header>

        <main style="margin-top: 2rem;">
            <h2 style="color: #374151;">Réinitialisez votre mot de passe</h2>

            <p style="margin-top: 0.5rem; margin-bottom: 1rem; line-height: 1.5rem; color: #4B5563;">
                Nous avons reçu une demande de réinitialisation de votre mot de passe e-Constellations. Pour
                réinitialiser votre mot de passe, cliquez sur le bouton ci-dessous :
            </p>

            <a href="{{link}}"
                style="padding-left: 1rem; padding-right: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem; margin-top: 1rem; margin-bottom: 1rem; font-size: 0.875rem; font-weight: 500; letter-spacing: 0.025rem; transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); transition-duration: 150ms; background-color: #3B82F6; border-radius: 0.375rem; color: white; display: inline-block; text-align: center; width: auto; text-decoration: none; line-height: 1.25rem; cursor: pointer; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 1px -1px rgba(0, 0, 0, 0.1);">Réinitialiser
                mon mot de passe</a>

            <p style="margin-top: 0.5rem; margin-bottom: 1rem; line-height: 1.5rem; color: #4B5563;">
                ou cliquez sur le lien ci-dessous: <br> {{link}}
            </p>


            <p style="margin-top: 2rem; margin-bottom: 0; line-height: 1.5rem; color: #4B5563;">
                Cordialement, <br>
                L'équipe de e-Constellations
            </p>
        </main>
    </section>
</body>