<div #questionListContainer>
  <div
    *ngFor="let question of questions"
    class="tw-my-12 tw-relative"
    [ngClass]="{ 'tw-opacity-50': question.isConfirmed }"
  >
    <app-question-details
      [question]="question"
      (answerPicked)="onAnswer($event)"
      (infoBubbleToggled)="onInfoBubbleOpen($event)"
      (confirmToggled)="onConfirm($event)"
      (skipForNow)="onSkipForNow($event)"
    ></app-question-details>
  </div>
</div>

<!-- Start demo integer -->

<!-- <div class="card shadow-lg tw-relative">
  <div class="card-body tw-p-12">
    <h5 class="card-title tw-text-center tw-mb-12">DEMO INTEGER</h5>

    <app-integer></app-integer>
  </div>
</div> -->

<!-- END demo integer -->
