<div class="tw-bg-[url(/assets/img/bge.png)] tw-bg-cover">
  <div class="container">
    <div class="row tw-justify-center tw-h-screen tw-items-center">
      <div class="col-6">
        <div class="view show p-5 text-center card" id="signin-view">
          <div class="img">
            <img width="50%" class="tw-mb-12" src="assets/img/logoi.png/" />
          </div>
          <h2>Portail administrateur</h2>

          <form
            (ngSubmit)="login()"
            #loginForm="ngForm"
            class="needs-validation mt-5"
          >
            <div class="input-group mb-3">
              <i
                class="
                  ai-mail
                  position-absolute
                  top-50
                  start-0
                  translate-middle-y
                  ms-3
                "
              ></i>
              <input
                class="form-control rounded"
                type="text"
                placeholder="Nom d'utilisateur"
                required
                [(ngModel)]="username"
                name="email"
              />
            </div>
            <div class="input-group mb-3">
              <i
                class="
                  ai-lock
                  position-absolute
                  tw-top-[45%]
                  start-0
                  translate-middle-y
                  ms-3
                "
              ></i>
              <div class="password-toggle w-100">
                <input
                  class="form-control mb-2"
                  type="password"
                  placeholder="Mot de passe"
                  required
                  [(ngModel)]="password"
                  name="password"
                />
                <label
                  class="password-toggle-btn"
                  aria-label="Show/hide password"
                >
                  <input class="password-toggle-check" type="checkbox" /><span
                    class="password-toggle-indicator"
                  ></span>
                </label>
              </div>
            </div>

            <div class="tw-flex tw-justify-center">
              <div class="tw-w-48">
                <button
                  class="btn btn-primary d-block w-100 mt-3 mb-2"
                  type="submit"
                  [disabled]="!loginForm.form.valid"
                >
                  SE CONNECTER
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
