{% set navigation_bar = [
('/admin/surveys', 'surveys', 'Questionnaires'),
('/admin/glossary', 'glossary', 'Documentation'),
('/admin/results', 'results', 'Résultats'),
('/admin/db', 'db', 'Base de données'),
('/admin/report-template', 'report-template', 'Gabarit du rapport'),
('/admin/labels', 'labels', 'Échelles'),
('/admin/analysis/sections','analysis-sections','Sections d\'analyse')
] -%}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %} - EBarometre</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://flowbite.com/docs/flowbite.min.js"></script>
  <script src="{{ url_for('static', filename='js/tailwind.config.js') }}"></script>

  {% block head %} {% endblock %}
  <link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>

<body class="flex flex-col bg-gray-100 dark:bg-gray-900 min-h-screen max-h-screen">
  {% if session['email'] %}
  <nav
    class="bg-white px-2 sm:px-4 py-2.5 dark:bg-gray-900 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
    <div class="flex flex-wrap items-center justify-between mx-auto">
      <a href="/admin/surveys" class="flex items-center h-6 sm:h-9">
        <img src="{{ url_for('static', filename='img/logoi.png') }}" class="h-full mr-1" alt="EConstellation Logo">
        <span class="text-xl h-full font-serif leading-6 sm:leading-9 dark:text-white">constellation</span>
      </a>
      <div class="flex lg:order-2">
        <a href="/admin/auth/sign-out"
          class="text-white cursor-pointer bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 lg:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Se
          déconnecter</a>
        <button data-collapse-toggle="navbar-sticky" type="button"
          class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-sticky" aria-expanded="false">
          <span class="sr-only">Ouvrir le menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1" id="navbar-sticky">
        <ul
          class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 lg:flex-row lg:space-x-8 lg:mt-0 lg:text-sm lg:font-medium lg:border-0 lg:bg-white dark:bg-gray-800 lg:dark:bg-gray-900 dark:border-gray-700">
          {% for href, id, label in navigation_bar %}
          <li>
            <a href="{{ href }}" {% if id==active_page %}
              class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded lg:bg-transparent lg:text-blue-700 lg:p-0 dark:text-white"
              {% else %}
              class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:hover:text-blue-700 lg:p-0 lg:dark:hover:text-white dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
              {% endif %}>{{ label }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="flex min-h-[60px] lg:min-h-[72px]"></div>
  {% endif %}
  {% block content %} {% endblock %}
  </div>
</body>

</html>
<script>
  const sliders = document.querySelectorAll('.slider');

  // Loop through each slider
  sliders.forEach((slider, index) => {
    // Get the corresponding slider value element
    const sliderValueElement = slider.parentElement.querySelector('.slider-value');

    sliderValueElement.textContent = slider.value;
    // Update the display value when the slider value changes
    slider.addEventListener('input', function () {
      // Update the text content of the corresponding element with the current slider value
      sliderValueElement.textContent = slider.value;
    });
  });
</script>