{% extends 'base.html' %}
{% set active_page = "labels" %}

{% block title %} {{ label.label_id }} {% endblock %}



{% block content %}
<div class="relative overflow-x-auto w-full p-5">

  <div class="flex justify-between items-center my-6 ">
    <div>
      <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">
        {{ label.title }}
      </h1>
      <p class="text-xs break-words pt-2s mt-3">
        Identifiant unique: {{ label.label_id }}
      </p>
    </div>

    <div class="flex justify-center items-center " data-tooltip-target="tooltip-default">
      <a href="/admin/label-items/add/{{label.label_id}}"
        class="pb-1 h-10 w-10 bg-gray-100 rounded-full text-green-600 flex justify-center border-2 border-green-600 items-center hover:bg-green-600 hover:text-white text-2xl">+
      </a>

      <div id="tooltip-default" role="tooltip"
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
        Ajouter un élement
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>

  <table
    class="dark:divide-gray-700 divide-y text-sm text-left text-gray-500 dark:text-gray-400 shadow-md w-full max-w-full sm:rounded-lg bg-white dark:bg-gray-800">
    <thead class="text-xs">
      <tr>

        <th scope="col" class="hidden sm:table-cell px-5 py-3 w-[90px]">
          ID
        </th>

        <th scope="col" class="px-5 py-3">
          Titre
        </th>

        <th scope="col" class="px-5 py-3 hidden sm:table-cell">
          Valeur
        </th>

        <th scope="col" class="px-5 py-3 hidden sm:table-cell">
          Ordre
        </th>

        <th scope="col" class="px-5 py-3 w-[100px] text-center">
          Actions
        </th>

      </tr>
    </thead>
    <tbody class="dark:divide-gray-700 divide-y">
      {% for label_item in label_items %}
      <tr class="hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-5 py-4 hidden sm:table-cell">
          {{ label_item.label_item_id }}
        </td>
        <td scope="row" class="pl-5 py-4  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">{{ label_item.label }}</p>
          </div>
        </td>
        <td scope="row" class="pl-5 py-4 hidden sm:table-cell  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">{{ label_item.value }}</p>
          </div>
        </td>
        <td scope="row" class="pl-5 py-4 hidden sm:table-cell  text-gray-900 dark:text-white">
          <div>
            <p class="break-words">{{ label_item.order }}</p>
          </div>
        </td>
        <td class="px-5 py-4">
          <div class="flex items-center justify-center space-x-4 text-sm">
            <button onclick="onEditClick(event, '{{ label_item.label_item_id }}');"
              class="flex items-center justify-between text-sm font-medium leading-5 text-primary-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
              aria-label="Edit">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path
                  d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z">
                </path>
              </svg>
            </button>
            <button onclick="setSelectedId(event,'{{ label_item.label_item_id }}')"
              class="flex items-center justify-between text-sm font-medium leading-5 text-primary-600 rounded-lg dark:text-gray-400 focus:outline-none focus:shadow-outline-gray"
              aria-label="Delete">
              <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd"
                  d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                  clip-rule="evenodd"></path>
              </svg>
            </button>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% set label='le sous-échelle' %}
{% set endpoint='/admin/label-items/delete/' %}
{% include 'modal.html'%}

<script>
  function onEditClick(event, label_item_id) {
    event.stopPropagation();
    window.location = '/admin/label-items/update/' + label_item_id;
  }
</script>
{% endblock %}