{% extends 'base.html' %}
{% set active_page = "surveys" %}

{% set questionFields = [ 
  ('intro', question.intro, 'Introduction'),
  ('title', question.title, 'Titre'),
  ('type', question.type, 'Type'),
  ('label_id', question.label_id, 'Label ID'),
  ('info_bubble_text', question.info_bubble_text, 'Bulle d\'information'),
  ('condition', question.condition, 'Condition'),
  ('intensity', question.intensity, 'Intensité'),
  ('conditional_intensity', question.conditional_intensity, 'Intensité conditionel'),
  ('order', question.order,'Ordre'),
  ('min_value', question.min_value, 'Valeur minimum'),
  ('max_value', question.max_value, 'Valeur maximum'),
  ('active', question.active, 'Active'),
  ('violence_related', question.violence_related, 'Reliée à la violence'),
  ('parent', question.parent,'Parent'),
  ('ladderC', question.ladderC,'Échelle C'),
  ('ladderE', question.ladderE, 'Échelle E'),
  ('ladderV', question.ladderV, 'Échelle V'),
  ('red_flag', question.red_flag, 'Red flag'),
] -%}

{% block title %} {{ question.name }} {% endblock %}

{% block content %}
  <div class="w-full h-full p-5">
    <h2 class="mb-5 text-2xl font-semibold text-gray-900 dark:text-white">
      Modifier la question
    </h2>
    <form id="mainForm" class="bg-white dark:bg-gray-800 p-5 sm:rounded-lg shadow-md">
      <!-- <div class="relative z-0 w-full mb-6 group">
          <input type="text" name="title" id="title" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="{{question.title}}" required />
          <label for="title" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Titre</label>
      </div> -->

      {% for field in questionFields %}
      <div class="relative z-0 w-full mb-6 group">
        <input type="text" name="{{field[0]}}" id="{{field[0]}}" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " value="{{field[1]}}" required />
        <label for="{{field[0]}}" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ field[2] }}</label>
      </div>
      {% endfor %}

    </form>
  </div>
  <script>
    $( "#mainForm" ).submit(async function( event ) {
      event.preventDefault();
      const formData = new FormData(document.getElementById('mainForm'));
      const response = await fetch(`/questions/update/{{question.question_id}}`,{ body: formData,method: "post" });
      if (response.ok) {
        window.location = '/surveys/{{question.survey_id}}';
      }
    });
  </script>
{% endblock %}