{% extends 'base.html' %}
{% set active_page = "analysis-sections" %}

{% set schemaTypes = ['coparenting-convergence-divergence', 'child-faced-behaviors-index', 'coparenting-context',
'harmful-behaviors-bubbles', 'parental-exclusion-index', 'child-symptoms', 'attitudes-during-custody-transfers',
'family-relationship-changes', 'alienating-behaviors-bubbles', 'child-response-to-alienating-behaviors',
'child-behaviors-index', 'child-response-bubbles', 'text'] %}


{% block title %} Sous-section d'analyse {% endblock %}

{% block content %}
<div class="w-full h-full p-5">
  <h1 class="my-6 text-2xl font-semibold text-gray-900 dark:text-white">
    Modifier la sous-section
  </h1>
  <form id="mainForm" class="bg-white dark:bg-gray-800 p-5 sm:rounded-lg shadow-md">

    <div class="relative z-0 w-full mb-6 group">
      <input type="text" name="title" id="title"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " value="{{analysis_subsection.title}}" required />
      <label for="title"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Titre
        *</label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input type="text" name="description" id="description"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " value="{{analysis_subsection.description}}" required />
      <label for="description"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Description
        *</label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input type="number" name="order" id="order"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " value="{{analysis_subsection.order}}" required />
      <label for="order"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Ordre
        *</label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <input type="text" name="display_condition" id="display_condition"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" "
        value="{{analysis_subsection.display_condition if analysis_subsection.display_condition != None else ''}}" />
      <label for="display_condition"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Condition
        d'affichage</label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <select name="schema_type" id="schema_type" class="block py-2.5 px-0 w-full text-sm text-gray-900 rounded-none bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer">
        {% for schemaType in schemaTypes %}
          <option {{ 'selected' if analysis_subsection.schema_type == schemaType }} value="{{schemaType}}" >{{schemaType}}</option>
        {% endfor %}
      </select>
      <label for="schema_type"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Type
        de schéma</label>
    </div>
  
    <!-- TODO add placeholder and value when backend implement field -->
    <div {{'hidden' if analysis_subsection.schema_type != 'text' }} class="relative z-0 w-full mb-6 group" id="commentsDiv">
      <input type="text" name="comments" id="comments"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        value="{{ analysis_subsection.comments }}" placeholder=" "  />
      <label for="comments"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Commentaires</label>
    </div>

    <div class="relative z-0 w-full mb-6 group">
      <label class="relative inline-flex items-center mb-4 cursor-pointer">
        <input name="status" type="checkbox" value="active" class="sr-only peer" {{ 'checked' if analysis_subsection.status == 'active' else '' }}>
        <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Statut</span>
      </label>
    </div>

    <div class="items-center space-y-4 sm:space-x-4 sm:flex sm:space-y-0">
      <button onclick="history.back()"
        class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Annuler</button>
      <button type="submit"
        class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-auto hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Enregistrer</button>
    </div>
  </form>
</div>
<script>
  $("#mainForm").submit(async function (event) {
    event.preventDefault();
    const formData = new FormData(document.getElementById('mainForm'));
    const response = await fetch(`/admin/analysis-subsections/update/{{analysis_subsection.analysis_subsection_id}}`, { body: formData, method: "post" });
    if (response.ok) {
      window.location = '/admin/analysis-sections/{{analysis_subsection.analysis_section_id}}';
    }
  });


  $("#schema_type").change(()=>{
    if($("#schema_type").val() == 'text')
    {
      $("#commentsDiv").show()
      $("comments").prop('disabled',false);
    }
    else{
      $("#commentsDiv").hide()
      $("comments").prop('disabled',false);
    }
  })
</script>
{% endblock %}